
####### requirements.txt #######

###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
python
numpy 
scipy			    
pytest
pytest-pep8
pytest-cov
ipython 
